* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


article {
  border: 5px solid black;
  /* padding: 2px; */
  width: 850px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.title {
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-style: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

.information {
  color: rgb(58, 62, 58);
  font-size: 20px;;
}

.shipping {
  text-transform: uppercase;
  color: #757373;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.sale {
  color: wheat;
  background-color: red;
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -20px;
  left: -36px;
  letter-spacing: 2px;
}

/* Colors options & available p starts here */

.available {
  font-size: 18px;
  font-weight: bold;
  margin-top: 37px;
}

.colors {
  padding: 5px;
  margin: 10px;
  display: flex;
  gap: 10px;
}

.blue {
  width: 25px;
  background-color: blue;
  height: 25px;
}

.yellow {
  width: 25px;
  background-color: yellow;
  height: 25px;
}

.black {
  width: 25px;
  height: 25px;
  background-color: black;
}

.orange-red {
  background-color: orangered;
  width: 25px;
  height: 25px;
}

.green {
  width: 25px;
  height: 25px;
  background-color: green;
}

/* Colors options ends here. */

h3 {
  margin-bottom: 20px;
}

a:visited {
  color: rgba(27, 17, 4, 0.205);
}

h3 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  /* background-color: #757373; */
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  /* margin: 0px; */
  width: 100%;
  margin-top: -4px;
}

button:active {
  background-color: #757373;
}
.input:hover {
  background-color: rgba(129, 138, 129, 0.01);
  color: black;
}

.details {
  margin-left: 25px;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  gap: 25px;
}

.priceshipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipping {
  margin-right: 50px;
}

.test {
  width: 243px;
}